<div>
	<label for="languageSelector">
    {{"CHOOSE_LANGUAGE_LABEL"|translate}}
		<select
    class="form-control"
    id="languageSelector"
    #currentLanguage
    (change)="changeLanguage(currentLanguage.value)"
    [disabled]="isLoading">
			<option *ngFor="let language of translateService.getLangs()" 
      [value]="language"
      [selected]="language === translateService.currentLang">
      {{ language }}
    </option>
		</select>
	</label>
</div>

<div>
	<label for="connectionTypeSelector">
    {{"CHOOSE_LANGUAGE_LABEL"|translate}}
		<select
    class="form-control"
    id="languageSelector"
    #currentConnectionType
    (change)="changeConnection(currentConnectionType.value)"
    [disabled]="isLoading">
			<option *ngFor="let connectionType of connectionTypes" 
      [value]="connectionType"
      [selected]="connectionType === currentConnection">
      {{ connectionType }}
    </option>
		</select>
	</label>
</div>

<app-profile-settings [useObservable]="useObservable" (isFormLoading)="disableForm($event)"></app-profile-settings>
